.gsapui--timeline--duration
.gsapui--timeline
  .gsapui--timeline--track
ul.gsapui__btnlist
  li.gsapui__btnlist__item
    button(class="gsapui__btn") Skip Backwards
  li.gsapui__btnlist__item
    button(class="gsapui__btn") Play
  li.gsapui__btnlist__item
    button(class="gsapui__btn") Skip Forwards
