.gsapui--timeline--duration
.gsapui--timeline
  .gsapui--timeline--track
ul.gsapui__btnlist
  li.gsapui__btnlist__item
    button(class="gsapui__btn material-icons") fast_rewind
  li.gsapui__btnlist__item
    button(class="gsapui__btn material-icons") play_arrow
  li.gsapui__btnlist__item
    button(class="gsapui__btn material-icons") fast_forward

