/*--------------------------------------------------------*\
 * Base Colors
 *--------------------------------------------------------*/

// Theme Colors
$red: #DA0000;
$blue: #16649A;

// Black & White
$white: white;
$black: #454545;

// Blue Grey Shades
$bluegrey-10: #99A2AF;
$bluegrey-15: #99A2AE;
$bluegrey-70: #2E3840;
$bluegrey-90: #222C33;

$turquoise: #7AC5C7;

/*--------------------------------------------------------*\
 * Color access variables
 *--------------------------------------------------------*/

$color-cursor: $blue;

$color-ui-bg: darken($bluegrey-90, 5%);
$color-ui-font-color: white;
$color-ui-border: rgba($bluegrey-10, 0.5);
$color-ui-btn-hover: rgba($bluegrey-10, 0.23);
$color-ui-btn-focus: rgba($bluegrey-10, 0.33);

$color-timeline-track-bg: $bluegrey-90;
$color-timeline-track: $bluegrey-10;
