@import './core/colors';
@import './core/resets';

.gsapui {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  background: $color-ui-bg;
  font-size: 0.8em;

  ::selection { background: $color-selection; }
  ::-moz-selection { background: $color-selection; }

  &__track__container {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: $color-timeline-track-bg;
  }

  &__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: left top;
    pointer-events: none;
    background-color: lighten($color-timeline-track, 5%);
    box-shadow: inset 0 1px 0 0 rgba($bluegrey-90, 0.15);
  }

  .gsapui__track__container:hover {
    .gsapui__track__cursor {
      opacity: 1;
    }
  }

  &__track__marker {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
  }

  &__track__cursor {
    opacity: 0;
    background-color: $color-cursor;
  }

  &--hidden {
    display: none;
  }

}

.gsapui__btnlist {
  display: flex;
  padding: 0;
  margin: 0;
  border-left: 1px solid $color-ui-border;
  border-right: 1px solid $color-ui-border;
}

.gsapui__btnlist__item {
  list-style-type: none;
  & + & {
    border-left: 1px solid $color-ui-border;
  }
}

$btn-padding-top: 0.5em;
$btn-padding-side: 0.8em;
.gsapui__btn {
  display: block;
  padding: $btn-padding-top $btn-padding-side;
  height: 100%;
  margin: 0;

  border: none;
  background-color: transparent;
  color: $color-ui-font-color;
  outline: none;

  &--narrow {
    $padding-side: $btn-padding-side * 0.55;
    padding-left: $padding-side;
    padding-right: $padding-side;
  }

  &:hover {
    background-color: $color-ui-btn-hover;
    cursor: pointer;
  }

  &:active {
    background-color: $color-ui-btn-focus;
    cursor: pointer;
  }
}

.gsapui__numberdial {
  display: flex;

  .gsapui__btn:first-of-type {
    border-right: 1px solid $color-ui-border;
  }

  .gsapui__btn:last-of-type {
    border-left: 1px solid $color-ui-border;
  }

  &__input {
    display: block;
    width: 5.6em; // 5.5em + 0.1em for safari to render the 1px not anti-aliased...
    margin: 0;

    background-color: darken($color-timeline-track-bg, 1%);
    border: none;
    color: lighten(#B5BBCB, 14%);
    box-shadow: inset 0 0 5px 3px rgba(black, 0.3);

    font-size: 1.35em;
    font-family: monospace;
    text-align: center;

    // Hide number dial on chrome
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Hide number dial on firefox
    -moz-appearance:textfield;

    &:focus {
      outline: none;
    }
  }
}

.gsapui {
  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    color: desaturate(lighten(#03A9F4, 20%), 5%);
    background-color: rgba(white, 0.05);
  }
}


.gsapui__controls {
  display: flex;
  position: relative;
  justify-content: space-between;

  &__container {
    display: flex;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: darken(#373F46, 3%);
  }
}

.gsapui__timescale {
  border-left: 1px solid $color-ui-border;
  margin-left: 4.3em;
}

